.dashboard-container {
    display: flex;
    flex-direction: row;
}

.dashboard {
    padding: 30px;
    border: solid green 5px;
    min-height: 80vh;
    text-align: center;    
    display: flex;
    flex-direction: row;
}

.dashboard h2 {
    border: 2px solid black; 
    border-radius: 20px;
    background-color: #1c681f;
    color: white;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.eco-actions {
    width: 100%;
}

.aside-section {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.coin-section {
    padding-bottom: 30px;
    border: 2px solid black; 
    border-radius: 20px;
    margin-left: 20px;
    font-size: 10px;
}

.donation-input input {
    margin-right: 5px;
    padding-top: 5px;
}

.donation-input button {
    padding: 5px;
    border: none;
    background-color: #4CAF50;
    border-radius: 20px; 
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.donation-input button:hover {
    background-color: #45a049;
}

.donation-input .tooltip-container {
    position: relative;
    display: inline-block;
}

.donation-input .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 12px;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 14px;
    white-space: nowrap;
    z-index: 10;  /* Ensure it sits on top */
}

.donation-input .tooltip-container:hover .tooltip {
    display: inline-block;
}

.profile-section {
    padding-bottom: 30px;
    border: 2px solid black; 
    border-radius: 20px;
    margin-left: 20px;
    font-size: 10px;
    margin-top: 20px;
 }

 .profile-section input {
    width: 60%;

 }

.profile-section button {
    margin-left: 2px;
    padding: 5px;
    border: none;
    background-color: #4CAF50;
    border-radius: 20px; 
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.profile-section button:hover {
    background-color: #45a049;
}

.profile-posts-all {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.profile-post {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;  /* Stacking the author details and content vertically */
    align-items: flex-start;  /* Start everything from the left */
}

.profile-post div {
    display: flex;  
    align-items: flex-start;  
}

.profile-post p {
    margin: 0;
    padding: 0;
}

.profile-post div:first-child {
    margin-bottom: 10px;  /* Adds some space between the author details and content */
}

.profile-post-head {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

.profile-post button {
    padding: 5px 10px;  
    border: none;  
    background-color: #eb7568;  
    border-radius: 20px; 
    color: white; 
    cursor: pointer;  
    font-size: 12px;  
    transition: background-color 0.3s;  
    margin-top: 10px; 
}

.profile-post button:hover {
    background-color: #c0392b;  
}
